.inputForm{
    display: inline;
}
.inputForm form {
    padding: 6px;
    display: flex;
    width: 100%;
    background: #9C27B0;
    float: left;
}
.inputForm input {
    padding: 6px;
    background: #FFC107;
    outline: 0;
    color: #4A148C;
}

.inputForm button {
    padding: 6px;
    width: 100%;
    background: #4CAF50;
    float: left;
    color: #fff;
}
