#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #d235d2;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    background: #FFC107;
    color: #d235d2;
    font-size: 2em;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
}
.title{
    display: inline;
}
