.footer{
    display: flex;
}
.footer button{
    display: flex;
    background: #d235d2;
    outline: 0;
    border: 0;
    padding: 4px 20px;
    color: #fff;
    font-size: 14px;
    font-variant: all-petite-caps;
    font-weight: 800;
    border-radius: 3px;
}