.list{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    /* width: 100%; */
    float: left;
    margin: 0;
    padding: 0;
}
ul.list li {
    list-style: decimal-leading-zero;
    padding: 0 10px;
}